{
    "allowAdminCommands": true,
    "allowAdminCommandsFromAnyone": false,
    "allowAnonymousConnections": true,
    "allowAssetsMismatch": true,
    "anonymousConnectionsAreAdmin": false,
    "bannedIPs": [],
    "bannedUuids": [],
    "checkAssetsDigest": false,
    "clearUniverseFiles": false,
    "configurationVersion": {
        "basic": 2,
        "server": 4
    },
    "connectionSettings": {
        "compression": "Zstd"
    },
    "gameServerBind": "::",
    "gameServerPort": 21025,
    "maxPlayers": 8,
    "maxTeamSize": 4,
    "queryServerBind": "::",
    "queryServerPort": 21025,
    "rconServerBind": "::",
    "rconServerPassword": "",
    "rconServerPort": 21026,
    "rconServerTimeout": 1000,
    "runQueryServer": true,
    "runRconServer": true,
    "safeScripts": true,
    "scriptInstructionLimit": 10000000,
    "scriptInstructionMeasureInterval": 10000,
    "scriptProfilingEnabled": false,
    "scriptRecursionLimit": 100,
    "serverFidelity": "automatic",
    "serverName": "AMP Powered OpenStarbound Server",
    "serverOverrideAssetsDigest": null,
    "serverUsers": {},
    "ampManagedModsEnabled": true,
    "ampWorkshopCollectionIDs": [],
    "ampLocalModsDirectory": "localmods",
    "ampAutoEnableLocalMods": true,
    "ampManagedLocalMods": [],
    "ampDisabledLocalMods": [],
    "ampUnifiedModPreference": [],
    "ampDownloadMissingWorkshopItems": true,
    "ampPruneManagedMods": true,
    "updateRate": 60,
    "teamInvitationTimeout": 600,
    "security": {
        "secureTeams": true,
        "secureWarps": true
    },
    "disallowClientCustomWorlds": false,
    "disallowClientSubWorlds": false,
    "allowClientSubWorldsAllWorlds": true,
    "allowClientSubWorldsCurrentWorld": true,
    "notifyAdminsOnWorldCreate": false,
    "notifyClientsOnWorldCreate": false
}
